*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('ps_controller.jpg');
    background-size: cover;
}



/* .container{
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.card{
    padding: 0 0;
    margin: 50px;
    text-align: center;
}
img{
    width: 100%;
    opacity: 0.8;
}
.card-img-overlay{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    line-height: 100px;
     
}
h1{
    font-family: fantasy;
    
}
p{
    font-size: 30px;
    margin-top: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
    width: 600px;
    height: 40px;
    border-radius: 25px;
    padding: 20px;
}
button{
    height: 40px;
    padding: 10px 20px;
    border-radius: 25px;
    width: 100px;
    background-color: rgb(95, 80, 80);
    
}
#socials{
    display: flex;
    margin-left: 700px;
    margin-top: 50px;
}
i{
    padding: 5px;
} */