*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('ps_controller.jpg');
    background-size: cover;
}

/* Container div */
#container{
    position: fixed;
    width: 70%;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
@media only screen and (max-width: 600px) {
  #container {
    width: 100%;
  }
}

/* Header - Coming Soon */
#header{
    /* color: #BA1540; */
    color: white;
    text-transform: uppercase;
    font-size: 8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
@media only screen and (max-width: 600px) {
  #header {
    font-size: 5rem;
  }
}

/* Text - Description */
#text{
    color: #FCD480;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
}
@media only screen and (max-width: 600px) {
  #text {
    font-size: 1rem;
  }
}

/* #subscribe{
    position: absolute;
    left: 20%;
} */

#socials{
    position: absolute;
    bottom: 5px;
    right: 10px;
}
/* @media only screen and (max-width: 600px) {
  #socials {
    position: fixed;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
  }
} */

#socials i{
    padding-right: 1rem;
    color: #EE3350;
}
@media only screen and (max-width: 600px) {
  #socials li {
    font-size: 1rem;
  }
}

/* .container{
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.card{
    padding: 0 0;
    margin: 50px;
    text-align: center;
}
img{
    width: 100%;
    opacity: 0.8;
}
.card-img-overlay{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    line-height: 100px;
     
}
h1{
    font-family: fantasy;
    
}
p{
    font-size: 30px;
    margin-top: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
    width: 600px;
    height: 40px;
    border-radius: 25px;
    padding: 20px;
}
button{
    height: 40px;
    padding: 10px 20px;
    border-radius: 25px;
    width: 100px;
    background-color: rgb(95, 80, 80);
    
}
#socials{
    display: flex;
    margin-left: 700px;
    margin-top: 50px;
}
i{
    padding: 5px;
} */